body{margin: 0;}
th {
    border: 1px solid black;
}

div {
    margin-top: 8px;
    margin-bottom: 8px;
    
}

p {
    display: inline;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: aquamarine;
    width: 100%;
    text-align: right;

}

td:hover .imagen {
    display: block;
    background-color: black;
    position: absolute;
    z-index: 1;
    border-radius: 10%;
    border: 3pc solid black;
}

.imagen {
    display: none;
    height: 100px;
    width: 100px;
}


